@model TransportWorkshopUserAuth.Models.Balance

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Остаток</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoCar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoCar.NameAuto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leftovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leftovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sug)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BalanceId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-success" asp-action="Index">Назад к списку</a>
        @*<a asp-action="Index">Back to List</a>*@
    </form>
</div>
