@model TransportWorkshopUserAuth.Models.Trailer

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Прицеп</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Massa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Massa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tire.Name)<br/>
            @Html.DisplayFor(model => model.Tire.Brand)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.TrailerId">Edit</a>
        <a asp-action="Index">Back to List</a>*@
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.TrailerId">Изменить</a>
    <a class="btn btn-success" asp-action="Index">Назад к списку</a>
</div>
